In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Reading the .csv file genereated from `1_extract_from_raw_data.ipynb`

In [29]:
gdf18_23 = pd.read_csv('../Data/ProducedData/gdf18_23.csv')

In [30]:
gdf18_23.isna().sum()

IRPINC3            0
IRFAMIN3           0
IRWRKSTAT          0
POVERTY3        1133
ALCYRTOT           0
ALDAYPWK           0
AMHTXRC3      207592
MHRCOST2      308385
SPDMON        206215
SMIPP_U       206215
YEAR               0
IRMHTPHVID    145342
MHTUNCOST     145342
SPDPSTMON     179626
SMIPPPY       179626
dtype: int64

`POVERTY3` is an important column, as it's a determinant for the hypothesis that there is a bimodal relationship between low and high SES groups, when looking at alcohol related illnesses. That being said, dropping rows that contain NaN `POVERTY3` values should not impact the analysis, as there are roughly 320,000 rows and missing values are minimal.

In [31]:
print(f'Rows, columns: {gdf18_23.shape}')
print(f'{gdf18_23.groupby('YEAR')['POVERTY3'].apply(lambda x: x.isna().sum())}')

Rows, columns: (319150, 15)
YEAR
2018    402
2019    527
2020    125
2021     44
2022     24
2023     11
Name: POVERTY3, dtype: int64

In [32]:
gdf18_23 = gdf18_23.dropna(subset=['POVERTY3'])
gdf18_23.groupby('YEAR')['POVERTY3'].apply(lambda x: x.isna().sum())

YEAR
2018    0
2019    0
2020    0
2021    0
2022    0
2023    0
Name: POVERTY3, dtype: int64

Combining SMIPP_U and SMIPPPY together under one column since they're both a measure of probability of Serious Mental Illness

In [33]:
gdf18_23['SMIPPPY'] = gdf18_23['SMIPP_U'].combine_first(gdf18_23['SMIPPPY'])

Combining the 2021-2023 `IRMHTPHVID` column and the 2018-2020`AMHTXRC3` column, as they both indicate if a respondent received mental health treatment in past year

In [34]:
gdf18_23.groupby('YEAR')['AMHTXRC3'].apply(lambda x: x.isna().sum())

YEAR
2018    13583
2019    13682
2020     6513
2021    57990
2022    59045
2023    56694
Name: AMHTXRC3, dtype: int64

In [35]:
gdf18_23.groupby('YEAR')['IRMHTPHVID'].apply(lambda x: x.isna().sum())

YEAR
2018    55911
2019    55609
2020    32768
2021        0
2022        0
2023        0
Name: IRMHTPHVID, dtype: int64

In [36]:
gdf18_23['AMHTXRC3'] = gdf18_23['IRMHTPHVID'].combine_first(gdf18_23['AMHTXRC3'])
gdf18_23.groupby('YEAR')['AMHTXRC3'].apply(lambda x: x.isna().sum())

YEAR
2018    13583
2019    13682
2020     6513
2021        0
2022        0
2023        0
Name: AMHTXRC3, dtype: int64

Other NaN values in columns `AMHTXRC3`, `MHRCOST2`, `SPDMON` `SMIPP_U`, `IRMHTPHVID`, `MHTUNCOST`, `SPDPSTMON`, `SMIPPPY` are expected, as these survey questions do not apply to all respondents.

Saving the revised dataframe to a new CSV file:

In [37]:
cleaned_gdf18_23 = gdf18_23
cleaned_gdf18_23.to_csv('../Data/ProducedData/cleaned_gdf18_23.csv')