In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Reading the .csv file genereated from `1_extract_from_raw_data.ipynb`

In [38]:
gdf18_23 = pd.read_csv('../Data/ProducedData/gdf18_23.csv')

In [39]:
gdf18_23.isna().sum()

IRPINC3            0
IRFAMIN3           0
IRWRKSTAT          0
POVERTY3        1133
ALCYRTOT           0
ALDAYPWK           0
AMHTXRC3      207592
MHRCOST2      308385
SPDMON        206215
SMIPP_U       206215
YEAR               0
IRMHTPHVID    145342
MHTUNCOST     145342
SPDPSTMON     179626
SMIPPPY       179626
dtype: int64

`POVERTY3` is an important column, as it's a determinant for the hypothesis that there is a bimodal relationship between low and high SES groups, when looking at alcohol related illnesses. That being said, dropping rows that contain NaN `POVERTY3` values should not impact the analysis, as there are roughly 320,000 rows and missing values are minimal.

In [40]:
print(f'Rows, columns: {gdf18_23.shape}')
print(f'{gdf18_23.groupby('YEAR')['POVERTY3'].apply(lambda x: x.isna().sum())}')

Rows, columns: (319150, 15)
YEAR
2018    402
2019    527
2020    125
2021     44
2022     24
2023     11
Name: POVERTY3, dtype: int64

In [42]:
gdf18_23 = gdf18_23.dropna(subset=['POVERTY3'])
gdf18_23.groupby('YEAR')['POVERTY3'].apply(lambda x: x.isna().sum())

YEAR
2018    0
2019    0
2020    0
2021    0
2022    0
2023    0
Name: POVERTY3, dtype: int64

In [43]:
cleaned_gdf18_23 = gdf18_23
cleaned_gdf18_23.to_csv('../Data/ProducedData/cleaned_gdf18_23.csv')